In [1]:
# get depdnencies

from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
import requests

In [2]:
# splinter setup

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

# Visit NASA mars news site

In [3]:
# visit the website
url = 'https://redplanetscience.com/'
browser.visit(url)

html = browser.html
news_soup = soup(html, 'html.parser')

# optional delay to load the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [4]:
# conver browser into a soup object

html = browser.html
news_soup = soup(html, 'html.parser')



#print(news_soup.prettify())

In [5]:

slide_elem = news_soup.select_one('div.list_text')

In [6]:
# display the current title content
slide_elem.find('div', class_= 'content_title')

In [7]:
# use the parent element to find the first a  tag and save it as 'new_title'

news_title = slide_elem.find('div', class_= 'content_title').get_text()

news_title

'Sensors on Mars 2020 Spacecraft Answer Long-Distance Call From Earth'

In [8]:
# use the parent element to find the paragraph text

news_p = slide_elem.find('div', class_= 'article_teaser_body').get_text()
news_p

"Instruments tailored to collect data during the descent of NASA's next rover through the Red Planet's atmosphere have been checked in flight."

# JPL Space Featured Image

In [9]:
# visit the website

url = 'https://spaceimages-mars.com'

browser.visit(url)

In [10]:
# find and click the full image button

full_image_link = browser.find_by_tag('button')[1]
full_image_link.click()

In [11]:
# parse the resulting html with soup

html = browser.html
image_soup = soup(html, 'html.parser')

In [ ]:
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

# Mars Facts

In [14]:
# use 'pd.read_html' to pull te data from the mars-earth comparison section

df = pd.read_html('https://galaxyfacts-mars.com/')[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [15]:
df.columns=['Description','Mars', 'Earth']
df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [16]:
df.set_index('Description', inplace = True)

In [17]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

# Hemispheres

In [18]:
url = 'https://marshemispheres.com'

browser.visit(url)

In [19]:
# create a list to hold the images and titles,
hemisphere_image_urls = []

# get a list of all the hemispheres
links = browser.find_by_css('a.product-item img')


# Next, loop through those links, click the link, find the sample anchor, return the href
for i in range(len(links)):
    
    # create hemisphere dictionary
    hemisphereInfo = {}
    
    # we have to find the elements on each loop to avoid a state element exception
    browser.find_by_css('a.product-item img')[i].click()
    
    
    # Next, we find the sample image anchor tag and extract the href
    sample = browser.links.find_by_text('Sample').first
    hemisphereInfo['img_url'] = sample['href']
    
    # get the hemisphere title
    hemisphereInfo['title']=browser.find_by_css('h2.title').text
    # Append hemisphere object to list
    hemisphere_image_urls.append(hemisphereInfo)
    # Finaly, we navigate backwords
    browser.back()

In [20]:
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [21]:
browser.quit()